<% provide(:title, "About") %>

<!-- About Us Banner -->
<div id="aboutheader">
  <div id="aboutheader-text">
    <h1>We're Passionate About <span><em>Travel</em></span> and <span><em>Sharing</em></span></h1>
  </div>
</div>
<!-- /About Us Banner -->

<!-- About Us Content -->
<div id="aboutcontent">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img class="img-rounded img-responsive" src="/assets/about-description.jpg">
			</div>
			<div class="col-md-8">
				<h1>About TravelFig</h1>
				<h4>Try-hard seitan DIY, bitters flannel Schlitz skateboard lo-fi readymade jean shorts selvage Tonx Godard Wes Anderson ugh. Seitan Thundercats twee 8-bit flexitarian fingerstache fanny pack messenger bag master cleanse, Bushwick tofu asymmetrical slow-carb pork belly. Selvage wolf trust fund, try-hard bespoke artisan High Life. Readymade selfies Pitchfork, chambray retro tousled PBRB tote bag squid small batch chia pop-up yr. Cred cardigan scenester, leggings cliche tofu Blue Bottle tattooed pug street art DIY hella Terry Richardson. Wes Anderson organic Bushwick, semiotics try-hard authentic pug stumptown gluten-free hoodie brunch American Apparel scenester fap hella. Bicycle rights freegan gastropub, four loko cred post-ironic Terry Richardson McSweeney's you probably haven't heard of them selvage messenger bag.</h4>
			</div>
		</div>
	</div>
</div>
<!-- /About Us Content -->

<!-- Team Profiles -->
<div id="teamprofile">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img class="img-circle img-responsive" src="/assets/about-profile.jpg">
			</div>
			<div class="col-md-8">
				<h2>Charles Hsieh, Founder</h2>
				<h4>Asymmetrical vegan Tumblr, meggings selvage occupy PBR pop-up Godard direct trade single-origin coffee sartorial locavore try-hard fixie. Cliche craft beer typewriter, aesthetic gluten-free vinyl Williamsburg Echo Park lomo. Wolf lomo Godard sriracha American Apparel ethnic, kitsch +1 Shoreditch High Life fanny pack viral PBR. Banh mi leggings keffiyeh banjo, freegan butcher tousled pop-up art party drinking vinegar deep v lo-fi. Odd Future gastropub you probably haven't heard of them, bicycle rights Neutra fap banjo selfies roof party mustache McSweeney's Marfa sustainable flannel tousled. IPhone chia readymade, hoodie cray sartorial distillery. High Life street art authentic umami, hoodie organic disrupt pickled Pitchfork art party beard Bushwick.</h4>
			</div>
		</div>
	</div>
</div>
<!-- /Team Profile -->