<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Move</a>
  <ul class="dropdown-menu">
    <li><a class="passport button_text">My Passport</a></li>
    <li><a class="travel_plans button_text">Travel Plans</a></li>
    <li><a class="destination_wishlist button_text">Destination Wishlist</a></li>
    <li class="divider"></li>
    <li><a class="button_text">Remove from Travelbook</a></li>
  </ul>
</div>
