<% if user_signed_in? %>
	<% provide(:title, 'Browse Destinations') %>
  <h1 class="destination_logo">New Destinations = New Adventures!</h1>
	<hr style="margin-top:5px"></hr>
  <div id="isotope-container">
    <%= render @pins %>
  </div>
  <%= will_paginate @pins %>
<% else %>
  <%= render 'static_pages/beta' %>
<% end %> 

