<% provide(:title, 'Edit diary') %>
<div class="container edit_diary">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h1>Edit Diary</h1>
    		</div>
	    	<div class="panel-body">
	    		<%= render 'form' %>
					<%= link_to 'Diary', pin_diary_path(@pin, @diary) %> |
					<%= link_to 'Your Profile', current_user %>
				</div>
				<div class="panel-footer">
					<h5>Not a Good diary? <br/><br/> <%= button_to "Delete diary", pin_diary_path(@pin, @diary), :data => { :confirm => "Are you sure? No turning back if you press the button!" }, class: "btn btn-danger", :method => :delete %></h5>
				</div>
			</div>
		</div>
	</div>
</div>
