<footer>
  <div id="contact" class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><a href=""><img class="img-responsive" src="/assets/logo-facebook.png"></a></li>
          <li><a href=""><img class="img-responsive" src="/assets/logo-twitter.png"></a></li>
          <li><a href=""><img class="img-responsive" src="/assets/logo-googleplus.png"></a></li>
        </ul>
        <hr>
        <p>Copyright &copy; TravelFig 2013</p>
      </div>
    </div>
  </div>
</footer>