<div id="footer">
    <hr class="footer-divider">
    <div class="container">
      <p style="text-align: center">
        &copy; 2013 Travelfig, Inc. All Rights Reserved.
      </p>
    </div>
</div>